body{
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(160, 160, 153, 0.477);
    background-image: url("../img/pgp_sweetbonanzadice.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
main{
    display: flex;
}

header{ 

    background-color: rgb(248, 147, 201);
    height: 23vh;
    display: flex;
    flex-direction: row;
    padding: 15px;
    border-radius: 20px;
    width: 90%;
    margin-top: 15px;
    gap: 40px;
    

}



.logo{
    display: flex;
    width: 200px;
    margin-left: 20px;
}

.buscador form{ 
    display: flex;
    background-color: aliceblue;
    border-radius: 25px;
    width: 300px;
    margin-left: 70%;
    justify-content: center;
    margin-top: 10%;
}

.buscador input {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 15px;
    font-size: 20px;
    color: #333;
}

.buscador button {
  background: #ff4d80;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px 15px;
  font-size: 16px;
}


.login{
    display: flex;
    margin-top: 100px;
    margin-left: 40%;
    gap: 30px;
}

.login a,
.login a:visited {

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: rgb(240, 26, 97);
text-decoration: none;
font-size: 22px;
font-weight: bold;
 }

 .pie {
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    gap: 25px;
    background-color: rgb(248, 147, 201);
    height: 5vh;
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    margin-top: 10px
 }
 
.catego{
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}


.menu {
position: static;
display: flex;
list-style: none;
margin: 10px;   
background-color: rgb(248, 147, 201);
flex-direction: column;
padding: 20px;
border-radius: 20px;
width: 200px;
align-items: flex-start;
margin-left: -700px;
align-self: start;
}

.menu li {
  margin-bottom: 30%;               
  border-bottom: 3px solid rgb(233, 37, 95); 
}


.menu a,
.menu a:visited {

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: rgb(240, 26, 97);
text-decoration: none;
font-size: 22px;
font-weight: bold;
 }

.listalado {
    display: flex;
list-style: none;
}
 
 .fotohuevo{
    width: 500px;
    height: 500px;
    border: 5px solid black;
 }

 .huevo1{
    background-color:  rgb(248, 147, 201, 0.9);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    border-radius: 20px;
    margin: 10px;
 }

 .huevo2{
    background-color: rgb(194, 194, 176);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 30%;
    border-radius: 20px;
    margin: 10px;
 }

 .huevo3{
    background-color: rgb(194, 194, 176);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 10%;
    border-radius: 10px;
    margin: 10px;
 }

 .huevo4{
    background-color: rgb(194, 194, 176);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    border-radius: 20px;
    margin: 10px;
 }
 .huevo5{
    background-color:rgb(65, 168, 65);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 10%;
    border-radius: 20px;
    margin: 10px;
 }

 img{
    width: 220px
 }
 .huevo6{
    background-color: rgb(0, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    border-radius: 20px;
    margin: 10px;
 }
 section.productostop{
    
 }
 .productostop1{
    background-color:  rgb(248, 147, 201, 0.9);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    margin: 10px;
 }

 .productostop2{
  background-color: rgb(248, 147, 201, 0.9);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  margin: 10px;
 }

.productostop3{
  background-color: rgb(248, 147, 201, 0.9);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  margin: 10px;
}

.productostop3{
    background-color: rgb(248, 147, 201, 0.9);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  margin: 10px;
}

.productostop4{
    background-color: rgb(248, 147, 201, 0.9);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  margin: 10px;
}