*{
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(160, 160, 153, 0.477);
    background-image: url("../img/pgp_sweetbonanzadice.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

main {
    display: flex;
}

header {

    background-color: rgb(248, 147, 201);
    height: 23vh;
    display: flex;
    flex-direction: row;
    padding: 15px;
    border-radius: 20px;
    width: 90%;
    margin-top: 15px;
    gap: 40px;


}

.logo {
    display: flex;
    width: 200px;
    margin-left: 20px;
}

.buscador form {
    display: flex;
    background-color: aliceblue;
    border-radius: 25px;
    width: 300px;
    margin-left: 70%;
    justify-content: center;
    margin-top: 10%;
}

.buscador input {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px;
    font-size: 20px;
    color: #333;
}

.buscador button {
    background: #ff4d80;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px;
    font-size: 16px;
}

.login {
    display: flex;
    margin-top: 100px;
    margin-left: 40%;
    gap: 30px;
}

.login a,
.login a:visited {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(240, 26, 97);
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

.pie {
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    gap: 25px;
    background-color: rgb(248, 147, 201);
    height: 5px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    margin-top: 10px
}

.catego {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.menu {
    position: static;
    display: flex;
    list-style: none;
    margin: 10px;
    background-color: rgb(248, 147, 201);
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    width: 200px;
    align-items: flex-start;
    margin-left: 0px;
    align-self: start;
}

.menu li {
    margin-bottom: 30%;
    border-bottom: 3px solid rgb(233, 37, 95);
}

.menu a,
.menu a:visited {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(240, 26, 97);
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

.listalado {
    display: flex;
    list-style: none;
}

.fotohuevo {
    width: 500px;
    height: 500px;
    border: 5px solid black;
}

.huevo1 {
    background-color: rgb(248, 147, 201, 0.9);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    border-radius: 20px;
    margin: 10px;
}

.huevo2 {
    background-color: rgb(240, 26, 97);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 40%;
    border-radius: 20px;
    margin: 10px;
}

.huevo3 {
    background-color: rgb(240, 26, 97);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 20%;
    border-radius: 20px;
    margin: 10px;
}

.huevo4 {
    background-color: rgb(240, 26, 97);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 75%;
    border-radius: 10px;
    margin: 10px;
}

.huevo5 {
    background-color: rgb(65, 168, 65);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 10%;
    border-radius: 20px;
    margin: 10px;
}

img {
    width: 220px
}

.huevo6 {
    background-color: rgb(0, 255, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    border-radius: 20px;
    margin: 10px;
}

.huevo7{
    background-color: rgb(240, 26, 97);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    border-radius: 20px;
    margin: 5px;
    margin-bottom: 15px;
}

.huevo8{
    margin: 30px;
}

.productostop {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    flex-direction: row;
    width: 100%;
    text-align: center;
}

.productostop a,
.productostop a:visited {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(240, 26, 97);
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

.fotoP{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.pAleatorios{
    margin-left: 50px;
    background-color: rgb(248, 147, 201);
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    width: 40%;
    border-radius: 20px;
    margin: 10px;
    justify-content: center;
}

.productostop1 {
    background-color: rgb(248, 147, 201, 0.9);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 200px;
    border-radius: 20px;
    margin: 10px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(240, 26, 97);
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

.productostop1 a,
.productostop1 a:visited {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(240, 26, 97);
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

.mainProduct{
    display: flex;
}

.productosSearch {
    display: flex;
    flex-direction: row;
    max-width: 70%;
    text-align: center;
}

.productosSearch a,
.productosSearch a:visited {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(240, 26, 97);
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

.resultados{
    display: none;
}

.reviews{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.review{
    flex-direction: row;
    width: 300px;
    padding: 15px;
    background-color: aliceblue;
    border: 1px solid;
    border-radius: 5px;
}

.usuario{
    font-weight: bold;
    font-size: large;
}

.register2{
    background-color: rgb(248, 147, 201);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    margin: 15px;
}

.register3{
   padding: 10px;
}

.register4{
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    width: 100%;
}

.login2{
    background-color: rgb(248, 147, 201);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    margin: 75px;
}

.login3{
   padding: 10px;
}

.login4{
    margin-top: 10px;   
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    width: 100%;
}


@media (max-width: 420px) {

    body {
        flex-direction: column;
        background-size: cover;
    }

    header {
        flex-direction: column;
        align-items: center;
        height: 375px;
    }

    .logo {
        width: 100px;
        margin: 5px;
    }

    .buscador form {
        width: 90%;
        margin: 5px;
    }

    .login {
        margin: 5px;
        flex-direction: column;
        align-items: center;
    }
    
    .register2,
    .login2 {
        width: 90%;
        margin-top: 230px;
        margin-bottom: 230px;
    }

    .pie {
        flex-direction: row;
        font-size: 14px;
        text-align: center;
        height: auto;
        gap: 5px;
        width: 90%;
    }

    .menu {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu li {
        margin: 10px;
        border-bottom: none;
    }

    .fotohuevo {
        width: 90%;
        height: auto;
    }

    .huevo1, .huevo2, .huevo3, .huevo4, .huevo5, .huevo6, .huevo7, .huevo8 {
        width: 100%;
        margin: 5px;
    }

    .productostop {
        flex-direction: column;
        align-items: center;
    }

    .productostop1 {
        width: 90%;
    }

    .productosSearch {
        flex-direction: column;
        max-width: 100%;
        align-items: center;
    }

    .pAleatorios {
        width: 90%;
        margin-left: 0;
        font-size: 14px;
        text-align: center;
    }

    .reviews {
        justify-content: center;
    }

    .review {
        width: 90%;
        margin: 10px;
    }
}